In [153]:
import pandas as pd
from datetime import datetime, timedelta
import warnings
warnings.filterwarnings('ignore')

In [107]:
df_1 = pd.read_excel(open('gas_model_fulldata.xlsx', 'rb'), sheet_name='1')
df_2 = pd.read_excel(open('gas_model_fulldata.xlsx', 'rb'), sheet_name='2')
df_3 = pd.read_excel(open('gas_model_fulldata.xlsx', 'rb'), sheet_name='3')
df_4 = pd.read_excel(open('gas_model_fulldata.xlsx', 'rb'), sheet_name='4')

# df_1 + df_2

In [79]:
df_1 = df_1.interpolate()

In [80]:
df_1['datetime'] = pd.to_datetime(df_1['Date'] + df_1['Time'], format='%Y-%m-%d%H:%M:%S')
df_2['datetime'] = pd.to_datetime(df_2['date'] + df_2['time'], format='%Y-%m-%d%H:%M')

In [87]:
df_1_2 = pd.merge(df_1, df_2, on=["datetime"], how='inner')

# df_3

In [108]:
df_3.columns = df_3.iloc[0]
df_3.drop(df_3.index[[0,1]], inplace = True)
df_3

,filename,date,Month,Day,daytime,air_molar_volume,e,wind_speed,max_wind_speed,wind_dir,u*
2,2022-05-11T000000_AIU-2343.ghg,2022,05,11,0,0.236947E-01,968.552,0.234039,2.49742,53.0498,0.195922
3,not_enough_data,2022,05,11,-9999,-9999,-9999,-9999,-9999,-9999,-9999
4,2022-05-11T010000_AIU-2343.ghg,2022,05,11,0,0.236717E-01,742.326,0.829133,2.88472,326.316,0.134331
5,2022-05-11T013000_AIU-2343.ghg,2022,05,11,0,0.236777E-01,727.909,0.340054,2.80909,140.988,0.240781
6,2022-05-11T020000_AIU-2343.ghg,2022,05,11,0,0.236924E-01,669.809,1.47261,5.58247,49.6942,0.143896
...,...,...,...,...,...,...,...,...,...,...,...
4483,2022-08-12T083000_AIU-2343.ghg,2022,08,12,1,0.255062E-01,2203.81,0.700584,2.45816,150.571,0.25883
4484,2022-08-12T090000_AIU-2343.ghg,2022,08,12,1,0.256307E-01,2088.91,1.03271,3.37999,138.592,0.219127
4485,2022-08-12T093000_AIU-2343.ghg,2022,08,12,1,0.256862E-01,2139.62,0.657459,3.34711,208.930,0.388367
4486,2022-08-12T100000_AIU-2343.ghg,2022,08,12,1,0.257447E-01,2224.22,1.56840,7.75004,105.818,0.264456
4487,2022-08-12T103000_AIU-2343.ghg,2022,08,12,1,0.258553E-01,2165.85,1.13931,4.48131,108.450,0.398411

In [117]:
df_3['datetime'] = pd.to_datetime(df_3['date'] + df_3['Month'] + df_3['Day'], format='%Y-%m-%d')

In [134]:
df_3.reset_index(drop=True, inplace=True)

,filename,date,Month,Day,daytime,air_molar_volume,e,wind_speed,max_wind_speed,wind_dir,u*,datetime
0,2022-05-11T000000_AIU-2343.ghg,2022,05,11,0,0.236947E-01,968.552,0.234039,2.49742,53.0498,0.195922,2022-05-11
1,not_enough_data,2022,05,11,-9999,-9999,-9999,-9999,-9999,-9999,-9999,2022-05-11
2,2022-05-11T010000_AIU-2343.ghg,2022,05,11,0,0.236717E-01,742.326,0.829133,2.88472,326.316,0.134331,2022-05-11
3,2022-05-11T013000_AIU-2343.ghg,2022,05,11,0,0.236777E-01,727.909,0.340054,2.80909,140.988,0.240781,2022-05-11
4,2022-05-11T020000_AIU-2343.ghg,2022,05,11,0,0.236924E-01,669.809,1.47261,5.58247,49.6942,0.143896,2022-05-11
...,...,...,...,...,...,...,...,...,...,...,...,...
4481,2022-08-12T083000_AIU-2343.ghg,2022,08,12,1,0.255062E-01,2203.81,0.700584,2.45816,150.571,0.25883,2022-08-12
4482,2022-08-12T090000_AIU-2343.ghg,2022,08,12,1,0.256307E-01,2088.91,1.03271,3.37999,138.592,0.219127,2022-08-12
4483,2022-08-12T093000_AIU-2343.ghg,2022,08,12,1,0.256862E-01,2139.62,0.657459,3.34711,208.930,0.388367,2022-08-12
4484,2022-08-12T100000_AIU-2343.ghg,2022,08,12,1,0.257447E-01,2224.22,1.56840,7.75004,105.818,0.264456,2022-08-12
4485,2022-08-12T103000_AIU-2343.ghg,2022,08,12,1,0.258553E-01,2165.85,1.13931,4.48131,108.450,0.398411,2022-08-12

In [154]:
for i in range(len(df_3)):
    df_3['datetime'][i+1] = (df_3['datetime'][i] + timedelta(minutes=30)).strftime('%Y-%m-%d %H:%M')

In [156]:
df_1_2_3 = pd.merge(df_1_2, df_3, on=["datetime"], how='inner')

# df_4

In [161]:
df_4

,UNIXTIME,Дата,Время,Напр АКБ,Температура логгера,Отн. влажность,Точка росы,Осадки,Температура воздуха,Атмосферное давление,Скорость ветра,Направление ветра,Приходящая солнечная радиация,Влагосодержание почвы,Электропроводность почвы,Температура почвы
0,1651928400,07.05.2022,16:00:00,12.33,23.76,47.64,12.16,0.00,NaN,754.37,0.00,Север,NaN,0.00,0.00,23.70
1,1651935600,07.05.2022,18:00:00,12.33,23.80,48.20,12.10,0.00,NaN,754.60,0.00,Север,NaN,0.00,0.00,23.80
2,1652097600,09.05.2022,15:00:00,13.63,22.37,30.27,1.47,0.00,NaN,750.87,6.93,северо-запад,576.57,0.00,0.00,21.13
3,1652101200,09.05.2022,16:00:00,13.65,22.51,30.17,1.41,0.00,NaN,750.83,6.90,Запад,420.45,29.53,0.57,18.63
4,1652104800,09.05.2022,17:00:00,13.60,21.08,33.58,2.34,0.00,NaN,750.86,5.27,Запад,215.58,39.60,0.76,16.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2862,1662393600,05.09.2022,19:00:00,13.82,13.30,91.82,11.84,0.25,13.13,752.75,0.61,северо-запад,0.00,6.30,0.00,26.16
2863,1662397200,05.09.2022,20:00:00,13.82,13.28,90.64,11.99,0.25,13.48,752.86,0.14,юго-запад,0.00,6.25,0.00,25.80
2864,1662400800,05.09.2022,21:00:00,13.82,13.56,90.83,12.39,0.25,13.85,752.54,0.49,юго-запад,0.00,6.24,0.00,25.52
2865,1662404400,05.09.2022,22:00:00,13.82,13.90,90.67,12.64,0.25,14.13,752.38,0.84,юго-запад,0.00,6.22,0.00,25.29
2866,1662408000,05.09.2022,23:00:00,13.82,14.24,90.69,12.94,0.25,14.43,752.42,1.09,юго-запад,0.00,6.18,0.00,25.08

In [164]:
df_4['datetime'] = pd.to_datetime(df_4['Дата'] + df_4['Время'], format=  '%d.%m.%Y%H:%M:%S')

In [182]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2867 entries, 0 to 2866
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   UNIXTIME                       2867 non-null   int64
 1   Дата                           2867 non-null   object
 2   Время                          2867 non-null   object
 3   Напр АКБ                       2867 non-null   float64
 4   Температура логгера            2867 non-null   float64
 5   Отн. влажность                 2867 non-null   float64
 6   Точка росы                     2867 non-null   float64
 7   Осадки                         2867 non-null   float64
 8   Температура воздуха            2833 non-null   float64
 9   Атмосферное давление           2867 non-null   float64
 10  Скорость ветра                 2867 non-null   float64
 11  Направление ветра              2867 non-null   object
 12  Приходящая солнечная радиация  2865 non-null   float64
 13  Влагосодержание почвы          2867 non-null   float64
 14  Электропроводность почвы       2867 non-null   float64
 15  Температура почвы              2867 non-null   float64
 16  datetime                       2867 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(12), int64(1), object(3)
memory usage: 380.9+ KB

In [194]:
df_4_columns = df_4.columns.values.tolist()

In [201]:
unwanted_num = ['UNIXTIME', 'Дата', 'Время', 'Направление ветра', 'datetime']

In [202]:
df_4_columns = [elem for elem in df_4_columns if elem not in unwanted_num]

In [210]:
df_4_columns

['Напр АКБ',
 'Температура логгера',
 'Отн. влажность',
 'Точка росы',
 'Осадки',
 'Температура воздуха',
 'Атмосферное давление',
 'Скорость ветра',
 'Приходящая солнечная радиация',
 'Влагосодержание почвы',
 'Электропроводность почвы',
 'Температура почвы']

In [204]:
df_1_4= pd.merge(df_1_2_3, df_4, on=["datetime"], how='left')

In [215]:
df_1_4[df_4_columns] = df_1_4[df_4_columns].interpolate()

In [216]:
df_1_4

,Date,Time,NEE_f потокСО2 (таргет),LE_f скрытое тепло (испарение),H_f (скрытое тепло),Rg_f (суммарная радиация),VPD_f (дефицит водяного пара),rH_f (относительная влажность),Tair_f,Tsoil_f,...,Точка росы,Осадки,Температура воздуха,Атмосферное давление,Скорость ветра,Направление ветра,Приходящая солнечная радиация,Влагосодержание почвы,Электропроводность почвы,Температура почвы
0,2022-05-12,00:30:00,2.100000,17.530,-6.540000,0.0,5.05,64.72,12.37,16.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-12,01:00:00,2.610000,19.670,-7.120000,0.0,4.86,65.76,12.23,15.99,...,6.130,0.0,11.580,754.440,2.600,юго-запад,0.0,38.710,0.730,16.07
2,2022-05-12,01:30:00,3.410000,13.460,-7.520000,0.0,4.71,66.58,12.12,15.81,...,6.235,0.0,11.380,754.515,2.340,NaN,0.0,38.675,0.725,15.94
3,2022-05-12,02:00:00,3.140000,12.570,-11.760000,0.0,4.21,69.30,11.71,15.71,...,6.340,0.0,11.180,754.590,2.080,юго-запад,0.0,38.640,0.720,15.81
4,2022-05-12,02:30:00,2.810000,8.100,-6.380000,0.0,3.86,71.41,11.48,15.53,...,6.480,0.0,11.115,754.620,1.575,NaN,0.0,38.605,0.720,15.70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4411,2022-08-11,22:00:00,3.238182,-7.642,-4.114167,0.0,16.34,59.92,29.35,29.10,...,18.030,0.0,27.310,745.460,1.590,Восток,0.0,9.730,0.030,32.22
4412,2022-08-11,22:30:00,3.870000,14.730,-15.140000,0.0,18.29,54.55,29.12,28.99,...,17.795,0.0,26.565,745.515,1.230,NaN,0.0,9.675,0.030,31.96
4413,2022-08-11,23:00:00,2.896471,-4.270,-11.233889,0.0,17.80,53.64,28.32,28.89,...,17.560,0.0,25.820,745.570,0.870,Восток,0.0,9.620,0.030,31.70
4414,2022-08-11,23:30:00,8.110000,2.020,-8.060000,0.0,16.99,54.67,27.90,28.77,...,17.835,0.0,25.085,745.605,0.700,NaN,0.0,9.600,0.030,31.45
4415,2022-08-12,00:00:00,3.080625,-41.440,-9.340000,0.0,16.03,56.11,27.46,28.63,...,18.110,0.0,24.350,745.640,0.530,юго-восток,0.0,9.580,0.030,31.20

In [217]:
df_1_4.to_excel('gas_model_data_convert.xlsx')