In [1333]:
import pandas as pd
import numpy as np
import datetime 
import re

In [1334]:
df = pd.read_excel('input_discharge.xlsx')
year = df.iat[0,1]
gauge = (df.iat[1,1])
df = df[3:len(df)]
new_header = df.iloc[0] #grab the first row for the header
df = df[1:] #take the data less the header row
df.columns = new_header #set the header row as the df header
df = df.loc[:, 1:12]
df.reset_index(drop=True, inplace=True)
print(year, gauge)
df.head(3)

2017 Клязьма - р. Клязьма - г. Ковров

3  1.0   2.0     3.0    4.0  5.0  6.0    7.0  8.0   9.0   10.0  11.0   12.0
0  65,9  62,1  71.5 _  606 ^  248  144    117  119    71  69,2  95 _  118 ю
1  65,5  62,6    72 ю    604  265  143  115 _  115    70  69,2   104  107 ю
2  65,5  62,6    73 ю    596  295  147  115 _  114  69,6  69,2   116  104 _

In [1335]:
fd=datetime.datetime(year, 1, 1)#начало года
ld=datetime.datetime(year+1, 1, 1)#конец года, не включая
listOfDates=[date for date in np.arange(fd,ld,datetime.timedelta(days=1))]#лист с датами в этом году

In [1336]:
if year % 4 != 0:#не весокосный год, т.е. остаток от делления на 4 не равен 0:
        #ravel делает из 2d 1d строка за строкой, при этом где-то будут пустые ячейки т.к. не все месяцы по 31 день 
    d = np.delete(df.values.transpose().ravel(),[59,60,61,123,185,278,340])
else:
    d = np.delete(df.values.transpose().ravel(),[60,61,123,185,278,340])

In [1337]:
r=pd.DataFrame(d, index = listOfDates) #делаем datarfame, который по сути series
res=r.astype(str)#разные типы данных нам не к чему

In [1338]:
res

                0
2017-01-01   65,9
2017-01-02   65,5
2017-01-03   65,5
2017-01-04   64,8
2017-01-05   64,4
...           ...
2017-12-27  298 ю
2017-12-28  290 ю
2017-12-29  282 ю
2017-12-30  285 ю
2017-12-31  284 ю

[365 rows x 1 columns]

In [1339]:
def str_int(x):
    if x=="нб":
        return 0
    else:
        return float(x.replace(",",".").split(" ")[0])

In [1340]:
res=res.applymap(str_int)# применяем функцию ко всем элементам фрейма
print(gauge, year)
print(res)

Клязьма - р. Клязьма - г. Ковров 2017
                0
2017-01-01   65.9
2017-01-02   65.5
2017-01-03   65.5
2017-01-04   64.8
2017-01-05   64.4
...           ...
2017-12-27  298.0
2017-12-28  290.0
2017-12-29  282.0
2017-12-30  285.0
2017-12-31  284.0

[365 rows x 1 columns]

In [1341]:
df = res.copy()
df['date'] = df.index

In [1342]:
df.reset_index(drop=True, inplace=True)
df['date'] = pd.to_datetime(df['date']).apply(lambda x: datetime.datetime.strftime(x, '%#d %#m %Y'))
df.columns = ['Q', 'date']
df=df.astype(str)

In [1343]:
df2 = pd.DataFrame()
df2["Q"] = df["date"] + ' ' + df['Q'] 
# df2["В"] = df["date"] + ' ' + '-999'
df2

                    Q
0       1 1 2017 65.9
1       2 1 2017 65.5
2       3 1 2017 65.5
3       4 1 2017 64.8
4       5 1 2017 64.4
..                ...
360  27 12 2017 298.0
361  28 12 2017 290.0
362  29 12 2017 282.0
363  30 12 2017 285.0
364  31 12 2017 284.0

[365 rows x 1 columns]

In [1344]:
df2.to_excel('%s_%s_in.xlsx' % (year, gauge), header=None, index=None)
# filename = "simple%d%d.csv" % (minLength,minBF)