In [116]:
import numpy as np
from scipy.stats import variation
import pandas as pd 
import seaborn as sns
%matplotlib inline

import matplotlib.pyplot as plt

In [118]:
df = pd.read_excel('ETR Qyear.xlsx')
df = df.fillna(0)
df.head()

,год,19039,19049,19050,19063,19072,19108,19122,19123,19127,...,84165,84179,84192,84200,84215,84233,84239,84245,84424,84801
0,1946,21.599167,83.811667,95.040832,302.566667,801.575000,10.025925,8.925187,19.306725,38.631722,...,0.000000,0.0,0.000000,0.000000,32.155000,13.710000,0.000000,1.610909,31.994167,335.500000
1,1947,21.423333,86.629167,72.799808,220.216667,617.916667,8.005683,6.629458,14.347950,28.659075,...,0.000000,0.0,13.485000,98.208333,32.356667,11.155000,35.475000,1.441667,25.520000,265.833333
2,1948,12.881667,55.736926,77.448333,263.783333,652.408333,8.385092,7.060604,15.279225,30.531973,...,0.000000,0.0,13.266667,94.408333,34.388333,14.465833,45.175833,1.811667,28.768333,280.166667
3,1949,3.591667,11.833333,14.591667,91.566667,347.958333,3.002500,3.254979,5.156833,14.000338,...,2.837500,0.0,12.862500,98.941667,36.150833,13.303333,41.576667,1.612500,26.452500,268.833333
4,1950,2.528333,10.129167,14.275000,51.493333,177.241667,1.835000,1.121021,2.924833,4.730423,...,2.078333,0.0,14.071667,82.225000,30.758333,11.388333,34.400000,1.575833,25.644167,251.083333

In [124]:
df_trans = df.T
df_trans.columns = df_trans.iloc[0]
df_trans = df_trans.iloc[1:]
df_trans['mean'] = df.mean()
df_trans.reset_index(inplace = True)
df_trans.rename(columns={'index': 'gauge'}, inplace=True)
df_trans

год,gauge,1946.0,1947.0,1948.0,1949.0,1950.0,1951.0,1952.0,1953.0,1954.0,...,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,mean
0,19039,21.599167,21.423333,12.881667,3.591667,2.528333,4.697583,4.249167,6.471667,4.499167,...,3.550000,4.274167,11.306667,8.154167,6.421667,9.643333,7.496667,6.450000,6.784167,10.794485
1,19049,83.811667,86.629167,55.736926,11.833333,10.129167,10.259167,13.549167,28.875833,11.990833,...,15.353333,23.935833,70.916667,43.085833,21.096667,30.518333,24.734167,17.275000,9.850833,28.909102
2,19050,95.040832,72.799808,77.448333,14.591667,14.275000,11.992500,19.058333,39.560833,14.017500,...,25.934167,34.979167,74.951667,44.568333,23.355000,38.492500,32.734167,20.557500,14.780000,35.004400
3,19063,302.566667,220.216667,263.783333,91.566667,51.493333,30.270000,90.617500,84.063333,52.338333,...,57.225000,55.966667,77.791667,121.891667,49.358333,92.675000,89.133333,46.300000,32.166667,97.094191
4,19072,801.575000,617.916667,652.408333,347.958333,177.241667,134.366667,321.341667,236.500000,178.750000,...,454.733520,291.086507,759.142693,382.964453,192.979547,429.445080,331.947480,228.826841,196.060200,319.056428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,84233,13.710000,11.155000,14.465833,13.303333,11.388333,12.335000,12.933333,12.450833,14.070000,...,13.028333,15.130000,14.421667,13.713333,13.952500,15.233333,14.030833,14.470000,13.940833,13.801295
163,84239,0.000000,35.475000,45.175833,41.576667,34.400000,38.865833,39.702500,34.719167,36.815000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.755450
164,84245,1.610909,1.441667,1.811667,1.612500,1.575833,1.980833,1.488333,1.372500,1.306667,...,2.287500,2.462500,2.620000,1.949167,2.040000,2.430000,1.933333,1.696667,1.800833,2.487276
165,84424,31.994167,25.520000,28.768333,26.452500,25.644167,24.690833,31.610833,31.023333,29.629167,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.610996
166,84801,335.500000,265.833333,280.166667,268.833333,251.083333,285.666667,277.666667,257.833333,240.325000,...,282.112457,284.125004,289.672127,290.896480,275.606300,298.271073,283.749673,291.380527,288.575903,278.806513

In [125]:
df = df_trans # просто потому что мне лень все перемннные переименовывать
gauges = df.gauge

In [126]:
gauges_names = list(df.columns.values) # тут теперь сохраняются года, но мне лень переименовывать
gauges_names.pop()
del gauges_names[0]
for n, i in enumerate(gauges_names):
    if i == '83323.1':
        gauges_names[n] = 83323
gauges_names

[1946.0,
 1947.0,
 1948.0,
 1949.0,
 1950.0,
 1951.0,
 1952.0,
 1953.0,
 1954.0,
 1955.0,
 1956.0,
 1957.0,
 1958.0,
 1959.0,
 1960.0,
 1961.0,
 1962.0,
 1963.0,
 1964.0,
 1965.0,
 1966.0,
 1967.0,
 1968.0,
 1969.0,
 1970.0,
 1971.0,
 1972.0,
 1973.0,
 1974.0,
 1975.0,
 1976.0,
 1977.0,
 1978.0,
 1979.0,
 1980.0,
 1981.0,
 1982.0,
 1983.0,
 1984.0,
 1985.0,
 1986.0,
 1987.0,
 1988.0,
 1989.0,
 1990.0,
 1991.0,
 1992.0,
 1993.0,
 1994.0,
 1995.0,
 1996.0,
 1997.0,
 1998.0,
 1999.0,
 2000.0,
 2001.0,
 2002.0,
 2003.0,
 2004.0,
 2005.0,
 2006.0,
 2007.0,
 2008.0,
 2009.0,
 2010.0,
 2011.0,
 2012.0,
 2013.0,
 2014.0,
 2015.0,
 2016.0,
 2017.0,
 2018.0,
 2019.0]

In [127]:
%%time
df_modul_coef = pd.DataFrame()
c = 0
for i in(gauges_names):
#     print(i, c)
    df_modul_coef[i] = df[i] / df['mean'] - 1
    c = c + 1

Wall time: 94.9 ms

In [128]:
df_modul_coef

,1946.0,1947.0,1948.0,1949.0,1950.0,1951.0,1952.0,1953.0,1954.0,1955.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,1.000945,0.984655,0.193356,-0.667268,-0.765775,-0.564816,-0.606358,-0.400465,-0.583198,-0.800670,...,-0.868374,-0.671128,-0.604042,0.047448,-0.244599,-0.405097,-0.106643,-0.305510,-0.402473,-0.371515
1,1.899145,1.996605,0.928006,-0.590671,-0.649620,-0.645123,-0.531318,-0.001151,-0.585223,-0.830128,...,-0.732581,-0.468910,-0.172031,1.453091,0.490390,-0.270241,0.055665,-0.144416,-0.402437,-0.659248
2,1.715111,1.079733,1.212531,-0.583148,-0.592194,-0.657400,-0.455545,0.130167,-0.599550,-0.791288,...,-0.654163,-0.259117,-0.000721,1.141207,0.273221,-0.332798,0.099647,-0.064856,-0.412717,-0.577767
3,2.116218,1.268073,1.716778,-0.056930,-0.469656,-0.688241,-0.066705,-0.134208,-0.460953,-0.708393,...,-0.501944,-0.410624,-0.423584,-0.198802,0.255396,-0.491645,-0.045514,-0.081991,-0.523143,-0.668707
4,1.512330,0.936700,1.044805,0.090586,-0.444482,-0.578862,0.007162,-0.258752,-0.439754,-0.664140,...,-0.246821,0.425245,-0.087664,1.379337,0.200303,-0.395155,0.345985,0.040404,-0.282801,-0.385500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,-0.006615,-0.191743,0.048150,-0.036081,-0.174836,-0.106243,-0.062890,-0.097850,0.019470,-0.045802,...,0.384472,-0.056006,0.096274,0.044950,-0.006373,0.010956,0.103761,0.016632,0.048452,0.010111
163,-1.000000,0.153454,0.468872,0.351847,0.118501,0.263706,0.290909,0.128878,0.197024,0.147927,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
164,-0.352340,-0.420383,-0.271626,-0.351700,-0.366442,-0.203613,-0.401621,-0.448191,-0.474660,-0.614706,...,-0.154028,-0.080319,-0.009961,0.053361,-0.216345,-0.179826,-0.023028,-0.222711,-0.317861,-0.275982
165,0.480458,0.180880,0.331190,0.224030,0.186626,0.142513,0.462720,0.435535,0.371023,0.150379,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
166,0.203343,-0.046531,0.004878,-0.035771,-0.099435,0.024605,-0.004088,-0.075225,-0.138022,-0.210205,...,0.159174,0.011857,0.019076,0.038972,0.043363,-0.011478,0.069814,0.017730,0.045099,0.035040

In [133]:
df_modul_coef = df_modul_coef.replace(-1, np.nan)
df_modul_coef['gauges'] = gauges
cols = list(df_modul_coef.columns)
cols = [cols[-1]] + cols[:-1] 
df_modul_coef = df_modul_coef[cols]
df_modul_coef

,gauges,1946.0,1947.0,1948.0,1949.0,1950.0,1951.0,1952.0,1953.0,1954.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,19039,1.000945,0.984655,0.193356,-0.667268,-0.765775,-0.564816,-0.606358,-0.400465,-0.583198,...,-0.868374,-0.671128,-0.604042,0.047448,-0.244599,-0.405097,-0.106643,-0.305510,-0.402473,-0.371515
1,19049,1.899145,1.996605,0.928006,-0.590671,-0.649620,-0.645123,-0.531318,-0.001151,-0.585223,...,-0.732581,-0.468910,-0.172031,1.453091,0.490390,-0.270241,0.055665,-0.144416,-0.402437,-0.659248
2,19050,1.715111,1.079733,1.212531,-0.583148,-0.592194,-0.657400,-0.455545,0.130167,-0.599550,...,-0.654163,-0.259117,-0.000721,1.141207,0.273221,-0.332798,0.099647,-0.064856,-0.412717,-0.577767
3,19063,2.116218,1.268073,1.716778,-0.056930,-0.469656,-0.688241,-0.066705,-0.134208,-0.460953,...,-0.501944,-0.410624,-0.423584,-0.198802,0.255396,-0.491645,-0.045514,-0.081991,-0.523143,-0.668707
4,19072,1.512330,0.936700,1.044805,0.090586,-0.444482,-0.578862,0.007162,-0.258752,-0.439754,...,-0.246821,0.425245,-0.087664,1.379337,0.200303,-0.395155,0.345985,0.040404,-0.282801,-0.385500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,84233,-0.006615,-0.191743,0.048150,-0.036081,-0.174836,-0.106243,-0.062890,-0.097850,0.019470,...,0.384472,-0.056006,0.096274,0.044950,-0.006373,0.010956,0.103761,0.016632,0.048452,0.010111
163,84239,NaN,0.153454,0.468872,0.351847,0.118501,0.263706,0.290909,0.128878,0.197024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,84245,-0.352340,-0.420383,-0.271626,-0.351700,-0.366442,-0.203613,-0.401621,-0.448191,-0.474660,...,-0.154028,-0.080319,-0.009961,0.053361,-0.216345,-0.179826,-0.023028,-0.222711,-0.317861,-0.275982
165,84424,0.480458,0.180880,0.331190,0.224030,0.186626,0.142513,0.462720,0.435535,0.371023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,84801,0.203343,-0.046531,0.004878,-0.035771,-0.099435,0.024605,-0.004088,-0.075225,-0.138022,...,0.159174,0.011857,0.019076,0.038972,0.043363,-0.011478,0.069814,0.017730,0.045099,0.035040

In [134]:
df_modul_coef

,gauges,1946.0,1947.0,1948.0,1949.0,1950.0,1951.0,1952.0,1953.0,1954.0,...,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,19039,1.000945,0.984655,0.193356,-0.667268,-0.765775,-0.564816,-0.606358,-0.400465,-0.583198,...,-0.868374,-0.671128,-0.604042,0.047448,-0.244599,-0.405097,-0.106643,-0.305510,-0.402473,-0.371515
1,19049,1.899145,1.996605,0.928006,-0.590671,-0.649620,-0.645123,-0.531318,-0.001151,-0.585223,...,-0.732581,-0.468910,-0.172031,1.453091,0.490390,-0.270241,0.055665,-0.144416,-0.402437,-0.659248
2,19050,1.715111,1.079733,1.212531,-0.583148,-0.592194,-0.657400,-0.455545,0.130167,-0.599550,...,-0.654163,-0.259117,-0.000721,1.141207,0.273221,-0.332798,0.099647,-0.064856,-0.412717,-0.577767
3,19063,2.116218,1.268073,1.716778,-0.056930,-0.469656,-0.688241,-0.066705,-0.134208,-0.460953,...,-0.501944,-0.410624,-0.423584,-0.198802,0.255396,-0.491645,-0.045514,-0.081991,-0.523143,-0.668707
4,19072,1.512330,0.936700,1.044805,0.090586,-0.444482,-0.578862,0.007162,-0.258752,-0.439754,...,-0.246821,0.425245,-0.087664,1.379337,0.200303,-0.395155,0.345985,0.040404,-0.282801,-0.385500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,84233,-0.006615,-0.191743,0.048150,-0.036081,-0.174836,-0.106243,-0.062890,-0.097850,0.019470,...,0.384472,-0.056006,0.096274,0.044950,-0.006373,0.010956,0.103761,0.016632,0.048452,0.010111
163,84239,NaN,0.153454,0.468872,0.351847,0.118501,0.263706,0.290909,0.128878,0.197024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
164,84245,-0.352340,-0.420383,-0.271626,-0.351700,-0.366442,-0.203613,-0.401621,-0.448191,-0.474660,...,-0.154028,-0.080319,-0.009961,0.053361,-0.216345,-0.179826,-0.023028,-0.222711,-0.317861,-0.275982
165,84424,0.480458,0.180880,0.331190,0.224030,0.186626,0.142513,0.462720,0.435535,0.371023,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,84801,0.203343,-0.046531,0.004878,-0.035771,-0.099435,0.024605,-0.004088,-0.075225,-0.138022,...,0.159174,0.011857,0.019076,0.038972,0.043363,-0.011478,0.069814,0.017730,0.045099,0.035040

In [135]:
df_modul_coef.to_excel('df_modul_coef.xlsx')

In [194]:
df_2 = df_modul_coef.T
df_2.columns = df_2.iloc[0]
df_2 = df_2.iloc[1:]
df_2.reset_index(inplace = True)
df_2.rename(columns={'index': 'year'}, inplace=True)
df_2

gauges,year,19039,19049,19050,19063,19072,19108,19122,19123,19127,...,84165,84179,84192,84200,84215,84233,84239,84245,84424,84801
0,1946.0,1.000945,1.899145,1.715111,2.116218,1.51233,1.076127,2.342679,2.351033,2.304772,...,NaN,NaN,NaN,NaN,-0.03139,-0.006615,NaN,-0.35234,0.480458,0.203343
1,1947.0,0.984655,1.996605,1.079733,1.268073,0.9367,0.657783,1.482878,1.490347,1.451656,...,NaN,NaN,-0.029789,0.087886,-0.025315,-0.191743,0.153454,-0.420383,0.18088,-0.046531
2,1948.0,0.193356,0.928006,1.212531,1.716778,1.044805,0.73635,1.644352,1.651987,1.611874,...,NaN,NaN,-0.045498,0.045792,0.035885,0.04815,0.468872,-0.271626,0.33119,0.004878
3,1949.0,-0.667268,-0.590671,-0.583148,-0.05693,0.090586,-0.378255,0.219061,-0.104938,0.197667,...,-0.174849,NaN,-0.074577,0.096009,0.088977,-0.036081,0.351847,-0.3517,0.22403,-0.035771
4,1950.0,-0.765775,-0.64962,-0.592194,-0.469656,-0.444482,-0.620016,-0.580153,-0.492342,-0.595333,...,-0.395616,NaN,0.01242,-0.089167,-0.073462,-0.174836,0.118501,-0.366442,0.186626,-0.099435
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,2015.0,-0.405097,-0.270241,-0.332798,-0.491645,-0.395155,-0.60414,-0.788083,-0.788247,-0.10833,...,0.203679,0.075793,0.0942,0.135888,0.119828,0.010956,NaN,-0.179826,NaN,-0.011478
70,2016.0,-0.106643,0.055665,0.099647,-0.045514,0.345985,0.601214,-0.171058,-0.442268,-0.095071,...,0.233001,0.016886,0.040479,0.196167,0.140162,0.103761,NaN,-0.023028,NaN,0.069814
71,2017.0,-0.30551,-0.144416,-0.064856,-0.081991,0.040404,0.104232,-0.240032,-0.347384,0.280474,...,-0.519692,0.33488,0.184314,0.080962,0.060335,0.016632,NaN,-0.222711,NaN,0.01773
72,2018.0,-0.402473,-0.402437,-0.412717,-0.523143,-0.282801,-0.421413,-0.374548,-0.20607,-0.537127,...,0.124005,0.366853,0.156614,0.219521,0.149199,0.048452,NaN,-0.317861,NaN,0.045099
73,2019.0,-0.371515,-0.659248,-0.577767,-0.668707,-0.3855,-0.588437,-0.806497,-0.832463,-0.800608,...,0.107917,0.713345,0.085147,0.15315,0.06385,0.010111,NaN,-0.275982,NaN,0.03504

In [207]:
df_2 = df_2.astype({'year': 'object'})

In [208]:
df_2.dtypes

gauges
year     object
19039    object
19049    object
19050    object
19063    object
          ...
84233    object
84239    object
84245    object
84424    object
84801    object
Length: 168, dtype: object

In [165]:
gauges_list = gauges.values.tolist()
for n, i in enumerate(gauges_list):
    if i == '83323.1':
        gauges_list[n] = 83323
# gauges_list

In [217]:
# df_year = pd.DataFrame()
with open('low_water.txt', 'w', encoding='utf-8') as file:
    for name in gauges_list:
        for i,r in df_2.iterrows():
            if r[name] < 0:
    #             df_year[name].append(df_2['year'][i])
                print(df_2['year'][i], file=file)
    #         print(r[name])
        print("ПОСТ:",name, file=file)

In [188]:
df_year

Empty DataFrame
Columns: [19039, 19049, 19050, 19063, 19072, 19108, 19122, 19123, 19127, 19128, 19135, 19153, 19154, 19159, 19172, 19185, 19197, 75006, 75058, 75079, 75128, 75150, 75151, 75168, 75176, 75190, 75202, 75209, 75210, 75225, 75241, 75254, 75259, 75280, 75284, 75287, 75290, 75293, 75311, 75314, 75317, 75320, 75326, 75328, 75337, 75339, 75367, 75382, 75389, 75394, 75402, 75497, 75500, 75501, 75518, 75530, 75536, 75552, 75553, 75576, 75608, 75627, 75635, 75643, 75646, 75674, 75676, 75678, 75682, 77112, 77116, 77124, 77130, 77132, 77140, 77164, 77166, 77179, 77189, 77193, 77197, 77201, 77209, 77210, 77212, 77217, 77223, 77231, 77242, 77245, 77250, 77266, 77270, 77276, 77285, 77292, 77298, 77311, 77327, 77329, ...]
Index: []

[0 rows x 166 columns]

In [185]:
for i,r in df_2.iterrows():
    print(i, r[name])

1946.0 1.000944591032884
1947.0 0.984655409015524
1948.0 0.19335628257981852
1949.0 -0.6672683673231325
1950.0 -0.7657754585750312
1951.0 -0.5648163604262716
1952.0 -0.6063576345662767
1953.0 -0.4004654618634449
1954.0 -0.5831976601340121
1955.0 -0.8006698200529764
1956.0 -0.43921209908862346
1957.0 -0.12408976697175444
1958.0 -0.2105536715188755
1959.0 0.01857567553099515
1960.0 0.3200413427243056
1961.0 -0.08533540975509846
1962.0 -0.14802174055176132
1963.0 -0.4462450113245544
1964.0 0.6049862281559337
1965.0 1.8144767525241599
1966.0 -0.43451062427887377
1967.0 -0.36796429774350015
1968.0 0.06968201911152572
1969.0 0.15605328376091765
1970.0 -0.17550491021138181
1971.0 -0.14879373969950327
1972.0 -0.3862606775449893
1973.0 1.3203452652266243
1974.0 2.5312636020186
1975.0 0.6636140822330014
1976.0 -0.8220850764113437
1977.0 -0.6491572673171015
1978.0 -0.3109907606401293
1979.0 -0.5151073353031544
1980.0 -0.305046367202515
1981.0 -0.08355981171529148
1982.0 -0.6522915838569348
1983.0 -0.4330438258981638
1984.0 -0.6304440079758318
1985.0 -0.19302929086512866
1986.0 2.5352468860212047
1987.0 4.046137148855524
1988.0 3.234772838171022
1989.0 -0.24807283009914405
1990.0 0.043202448343970135
1991.0 -0.569842074878073
1992.0 1.844504585774568
1993.0 -0.46925058592727054
1994.0 0.16579591300542362
1995.0 -0.4496418075746199
1996.0 -0.746398279966703
1997.0 -0.46786098746133475
1998.0 -0.5812676622646569
1999.0 -0.40749065410789853
2000.0 0.36466289346380165
2001.0 -0.1829933019444807
2002.0 0.24176062914325125
2003.0 -0.09290100140297164
2004.0 -0.231552048337462
2005.0 -0.1334309566594346
2006.0 -0.24953962847985411
2007.0 0.02181807195151242
2008.0 -0.6747567590562313
2009.0 -0.7891670327516183
2010.0 -0.8683741453099632
2011.0 -0.6711283630618434
2012.0 -0.6040416371230503
2013.0 0.0474484436565521
2014.0 -0.24459883393430437
2015.0 -0.4050974567498977
2016.0 -0.10664258623278189
2017.0 -0.30550956669116014
2018.0 -0.4024726596475745
2019.0 -0.3715154938231141