In [93]:
import os
import re
import pandas as pd

In [94]:
os.getcwd()

'C:\\Users\\gorba\\DataSciense\\PET-projects\\SoilGrid'

In [95]:
files = []
data_links = []
file_name = []
path = 'C:/Users/gorba/Desktop/Univercity/1 mag/Dissertation/Soil/Табличные данные/'

for path, dirs, files in os.walk(path):
    for file in files:
        if file.endswith(".txt"):
            data_links.append(os.path.join(path + '/' + file))
            file_name.append(file.split('.txt')[0])
data_links = pd.DataFrame(data_links)
data_links.columns = ['link']

In [104]:
# data_links

In [97]:
names = []
for i in range(len(file_name)):
    a = re.findall(r'[a-zA-Z]', file_name[i])
    names.append([''.join(a)])
names = [val for sublist in names for val in sublist]

In [102]:
names

['Bulk',
 'Bulk',
 'Bulk',
 'Bulk',
 'Carbon',
 'Carbon',
 'Carbon',
 'Carbon',
 'Cation',
 'Cation',
 'Cation',
 'Cation',
 'Clay',
 'Clay',
 'Clay',
 'Clay',
 'Coarse',
 'Coarse',
 'Coarse',
 'Coarse',
 'nitrogen',
 'nitrogen',
 'nitrogen',
 'nitrogen',
 'Sand',
 'Sand',
 'Sand',
 'Sand',
 'Silt',
 'Silt',
 'Silt',
 'Silt',
 'SoilpH',
 'SoilpH',
 'SoilpH',
 'SoilpH']

In [99]:
data_links.link[0]

'C:/Users/gorba/Desktop/Univercity/1 mag/Dissertation/Soil/Табличные данные//Bulk1.txt'

In [100]:
data = pd.read_csv(data_links.link[0])
data

    OBJECTID   id_2   COUNT          AREA        MEAN
0          1  70002  207096  1.294350e+10   55.288422
1          2  70098  784572  4.903575e+10   60.983040
2          3  70180  421175  2.632344e+10   56.423598
3          4  70238  305487  1.909294e+10   47.754232
4          5  70275  209749  1.310931e+10   57.528589
..       ...    ...     ...           ...         ...
61        62  78229  104322  6.520125e+09  112.853674
62        63  78252  135506  8.469125e+09  110.872936
63        64  78394  139070  8.691875e+09  100.858503
64        65  78504  167218  1.045112e+10  109.360039
65        66  78515   54193  3.387062e+09  110.708782

[66 rows x 5 columns]

In [82]:
for i in range(len(data_links)):
    df = pd.read_csv(data_links.link[i])
    if name[i] isin data_links.link[i] тогда соединяем